.agents/skills/developing-with-streamlit
CLAUDE.md
Demo_webapp/frontend/_test_multiproject.py
Demo_webapp/.env.example
Demo_webapp/frontend/_test_backend_job_uuid.py


Demo_webapp/frontend/state.py

**/__pycache__/
**/postman
**/.claude

# Ignore all docx and pdf files
**.docx
**.pdf
.agents/

Demo_webapp/DOCKER_CHEATSHEET.md
Demo_webapp/Postman_API_Testing_Guide.md
